{% extends "base.html" %}
{% load crispy_forms_tags i18n static %}

{% block title %}{{ user.username }} | Update profile | Review Bangla{% endblock %}
{% block breadcrumb %}
    <section class="g-bg-gray-light-v5 g-py-30" style="background-image: url({% static 'images/pattern2.png' %});">
        <div class="container">
            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    <a class="u-link-v5 g-color-main g-color-primary--hover"
                       href="/">{% trans 'Home' context 'nav' %}</a>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    <a class="u-link-v5 g-color-main g-color-primary--hover"
                       href="{% url 'users:detail' user.username %}">{% trans 'Profile' %}</a>
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-color-primary">
                    <span>{% trans 'Edit Profile' %}</span>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container g-py-50">
        <div class="row justify-content-center g-mb-20">
            <div class="col-md-8">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}

{% block compressed-js %}
    <script src="{% static 'unify-assets/js/helpers/hs.file-attachments.js' %}"></script>
{% endblock %}
{% block extrajs %}
    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of forms
            $.HSCore.helpers.HSFileAttachments.init();
        });
    </script>
{% endblock %}
