<!-- Navigation -->
{% block navigation %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {#        <a class="navbar-brand" href="#">Home</a>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:students' %}">Stdent <span class="sr-only">(current)</span></a>

        </li>
        <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:tutors' %}">Tutor <span class="sr-only">(current)</span></a>

        </li>
          {#                <li class="nav-item dropdown">#}
          {#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
          {#                       data-toggle="dropdown"#}
          {#                       aria-haspopup="true" aria-expanded="false">#}
          {#                        Login/Registration#}
          {#                    </a>#}
          {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
          {#                        <a class="dropdown-item" href="/accounts/login">Login</a>#}
          {#                        <a class="dropdown-item" href="/accounts/signup">Register</a>#}
          {#                    </div>#}
          {#                </li>#}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'users:detail' username=request.user.username %}"><i class="fa fa-user"
                                                                                     aria-hidden="true"></i>Profile</a>
            </li>&emsp;

            <li><a href="{% url 'account_logout' %}"><i class="fa fa-log-out" aria-hidden="true"></i>Logout</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
            &emsp;
            &emsp;
            <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
          {% endif %}
      </ul>

    </div>
  </nav>
{% endblock navigation %}
